/* styling for HOME.HTML */

/* body
{
    margin-top: 50px;
    background-color:cornflowerblue;
    color:whitesmoke;
    font-family:Verdana;
} */

iframe {
    display: block;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    border: 0;
}

.center-div
{
     margin: 0 auto;
     display: table;
     text-align: center;
}