<!DOCTYPE html>
<html>
  <head>
    <title>Goodwill ServProj Webpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom CSS/JS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">

    <!-- bootstrap 3.4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body style="margin-top: 50px;background-color:navy;color:whitesmoke;font-family:Verdana;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <p style="font-weight: bold;" class="navbar-text">Goodwill Projects</p>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#vid_title">About Us</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gender Metrics
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#gender1">Histogram</a></li>
              <li><a href="#gender2">Pie Chart</a></li>
            </ul>
          </li>
					<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Age Metrics
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#age1">Histogram</a></li>
              <li><a href="#age2">Pie Chart</a></li>
            </ul>
          </li>
					<li class="dropdown"> 
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Temporal Metrics
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#contact_date1">Histogram</a></li>
							<li><a href="#contact_date2">Line Chart</a></li>
						</ul>
					</li>
        </ul>
      </div>
    </nav>
    <!-- video testimonial section -->
    <div class="container" style="margin-top:50px; background-color: cornflowerblue;color: whitesmoke;">
      <h1 id="vid_title" align="center" style="font-size:40px;">What We Do</h1>
      <br>
      <!-- removed: data-ride="carousel" to prevent auto-transitions-->
      <div id="myCarousel" class="carousel slide center-div" style="width:1024px;"> 
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <!-- orig: 560x315 -->
            <iframe src="https://www.youtube.com/embed/ZowRwjQ_EiQ" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      
          <div class="item">
            <iframe src="https://www.youtube.com/embed/jpLM61f3-GM" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      
          <div class="item">
            <iframe src="https://www.youtube.com/embed/H1jwMRbqCjQ" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <!-- placeholder for color gradient shift -->
    <div class="container center-div" style="background-image: linear-gradient(cornflowerblue, whitesmoke);">
      <br><br><br><br><br><br><br><br><br><br>
    </div>
    <!-- metrics section -->
    <div id="metrics_div" class="container center-div" style="background-color:whitesmoke;color:cornflowerblue;">
      <h1 align="center" style="font-size:40px;">The Numbers</h1>
      <h2 align="center">I. Gender Metrics</h2>
      <br><br>
      <iframe id="gender1" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~NDServProj/3.embed"
        height="525" width="90%"></iframe>
      <br><br>
      <iframe id="gender2" scrolling="no" style="border:none;" seamless="seamless"src="https://plotly.com/~NDServProj/1.embed" 
        height="525" width="90%"></iframe>
      <br><br><br><br>
			<h2 align="center">II. Age Metrics</h2> 
      <br><br>
			<iframe id="age1" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~NDServProj/40.embed"
        height="525" width="90%"></iframe>
      <br><br>
			<iframe id="age2" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~NDServProj/42.embed"
        height="525" width="90%"></iframe>
      <br><br><br><br>
			<h2 align="center">III. Temporal Metrics</h2> 
      <br><br>
			<iframe id="contact_date1" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~NDServProj/11.embed"
        height="525" width="90%"></iframe>
      <br><br>
			<iframe id="contact_date2" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~NDServProj/30.embed"
        height="525" width="90%"></iframe>
      <br><br><br><br>
    </div>
  </body>
</html>